---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/SiteNavigation.astro";
import { Section } from "../components/landing-page/Section.tsx";
import { InputEmail, InputLongText, InputText } from "../components/Input";
import { ButtonGroup } from "../components/ButtonGroup";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
	<Navigation current="Home" />
	<Section sectionId="section1" client:visible>
		<p>Desarrollador web con más de 5 años de experiencia.</p>
		<p>
			Actualmente trabajo en <a href="https://www.{{company}}.com"
				>Gindumac</a
			>.
		</p>
		<p>Formador en nuevas tecnologías</p>
	</Section>

	<Section sectionId="section2" client:visible>
		<p>Programitas, lenguajes y eso</p>
		<ul class="">
			<li>HTML5</li>
			<li>CSS3</li>
			<li>JavaScript</li>
			<li>PHP</li>
			<li>MySQL</li>
			<li>NodeJS</li>
			<li>React</li>
			<li>Vue</li>
			<li>Angular</li>
			<li>Git</li>
			<li>...</li>
		</ul>
	</Section>

	<Section sectionId="section3" client:visible>
		<p>Algunos de mis proyectos</p>
		<ul class="">
			<li>
				<a href="https://www.{{company}}.com">Gindumac</a>
			</li>
			<li>
				<a href="https://www.{{company}}.com">Gindumac</a>
			</li>
			<li>
				<a href="https://www.{{company}}.com">Gindumac</a>
			</li>
			<li>
				<a href="https://www.{{company}}.com">Gindumac</a>
			</li>
			<li>
				<a href="https://www.{{company}}.com">Gindumac</a>
			</li>
			<li>
				<a href="https://www.{{company}}.com">Gindumac</a>
			</li>
		</ul>
	</Section>

	<Section sectionId="section4" client:visible>proyectos</Section>

	<Section sectionId="section5">
		<form action="" method="post">
			<InputText label="Tu nombre" name="referer-name" />
			<InputEmail label="Tu correo electrónico" name="referer-email" />
			<InputLongText label="Tu mensaje" name="referer-message" />
			<ButtonGroup>
				<button
					class="px-4 py-2 bg-green bg-slate-200 hover:bg-slate-0"
					type="submit">Enviar</button
				>
				<button
					class="px-4 py-2 bg-orange bg-slate-200 hover:bg-slate-0"
					type="reset">Borrar</button
				>
			</ButtonGroup>
		</form>
		<div class="text-center">
			<p>También puedes encontrarme en:</p>
			<ButtonGroup>
				<a href=""></a>
			</ButtonGroup>
		</div>
	</Section>
</BaseLayout>

<style></style>
